html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 24px;
    color: #bc2416; /* 设置颜色为 #EB4233 */
}

#main-container {
    width: 95%; 
    max-width: 1400px; 
    height: 85%; 
    display: flex;
    box-shadow: 0 0 15px rgba(0,0,0,0.15); 
    border-radius: 10px; 
    overflow: hidden;
    border: 5px solid rgb(204, 98, 98); /* 修改边框颜色并稍微增加边框宽度 */
    border-radius: 20px; /* 增加边框圆角 */
}


#image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f5d0d0;
}

#image-container img {
    width: 100%;
    height: auto; /* Adjust this if you need to control the image height */
}

#chat-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#chat-box {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    border-bottom: 4px solid #ffdede;
}

#input-area {
    padding: 10px;
    border-top: 2px solid #ffdede;
}

#user-input {
    flex-grow: 1;
    height: 60px;
    padding: 10px;
    font-size: 18px;
}

button {
    width: 120px;
    padding: 12px 0;
    background-color: #ac0202;
    color: white;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}
.user-message .message-content {
    color: black; /* 用户消息的字体颜色为黑色 */
    font-weight: 525; /* 设定为粗体 */
    font-size: 20px;
}

.gpt-message .message-content {
    color: #ac1709; /* NANO响应消息的字体颜色 */
    font-weight: 530; /* 设定为粗体 */
    font-size: 20px;
}
