html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 24px;
    color: #bc2416; /* 设置颜色为 #EB4233 */
}

#main-container {
    width: 95%; 
    max-width: 1400px; 
    height: 85%; 
    display: flex;
    box-shadow: 0 0 15px rgba(0,0,0,0.15); 
    border-radius: 10px; 
    overflow: hidden;
    border: 5px solid rgb(204, 98, 98); /* 修改边框颜色并稍微增加边框宽度 */
    border-radius: 20px; /* 增加边框圆角 */
}


#image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f5d0d0;
}

#image-container img {
    width: 100%;
    height: auto; /* Adjust this if you need to control the image height */
}

#chat-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#chat-box {
    flex-grow: 1;
    overflow-y: auto;  /* 允许垂直滚动 */
    padding: 10px;
    border-bottom: 4px solid #ffdede;
    word-wrap: break-word;  /* 确保文本自动换行并在必要时断词 */
    overflow-wrap: break-word;  /* 替代属性，功能同 word-wrap */
}


#input-area {
    padding: 10px;
    border-top: 2px solid #ffdede;
}

#user-input {
    width: 100%;  /* 确保输入框宽度固定 */
    max-width: 100%;  /* 防止输入框超出其容器宽度 */
    height: auto;  /* 允许高度自动调整以适应内容 */
    min-height: 60px;  /* 最小高度，保持初始高度不变 */
    padding: 10px;
    font-size: 18px;
    white-space: pre-wrap;  /* 允许文本自动换行 */
    overflow-wrap: break-word;  /* 防止长单词或URL破坏布局 */
    border: 1px solid #ccc;  /* 可选：添加边框以更好地视觉定位 */
    box-sizing: border-box;  /* 确保内边距和边框不会增加输入框的宽度 */
}

button {
    width: 120px;
    padding: 12px 0;
    background-color: #ac0202;
    color: white;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}
.user-message .message-content {
    color: black; /* 用户消息的字体颜色为黑色 */
    font-weight: 525; /* 设定为粗体 */
    font-size: 20px;
}

.gpt-message .message-content {
    color: #ac1709; /* NANO响应消息的字体颜色 */
    font-weight: 530; /* 设定为粗体 */
    font-size: 20px;
}
